
My project/Library/ScriptAssemblies/UnityEngine.UI.dll
My project/Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
My project/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
My project/Library/ScriptAssemblies/UnityEditor.UI.pdb
My project/Library/ScriptAssemblies/UnityEditor.UI.dll
My project/Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
My project/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
My project/Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
My project/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
My project/Library/ScriptAssemblies/Unity.VisualStudio.Editor.pdb
My project/Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
My project/Library/ScriptAssemblies/Unity.Timeline.pdb
My project/Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
My project/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
My project/Library/ScriptAssemblies/Unity.Timeline.dll
My project/Library/ScriptAssemblies/Unity.TextMeshPro.pdb
My project/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
My project/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
My project/Library/ScriptAssemblies/Unity.TextMeshPro.dll
My project/Library/ScriptAssemblies/Unity.Services.Core.Editor.pdb
My project/Library/ScriptAssemblies/Unity.Services.Core.Editor.dll
My project/Library/ScriptAssemblies/Unity.Rider.Editor.pdb
My project/Library/ScriptAssemblies/Unity.Rider.Editor.dll
My project/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.pdb
My project/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
My project/Library/ScriptAssemblies/Unity.Mathematics.pdb
My project/Library/ScriptAssemblies/Unity.Mathematics.Editor.pdb
My project/Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
My project/Library/ScriptAssemblies/Unity.Mathematics.dll
My project/Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.pdb
My project/Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
My project/Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.pdb
My project/Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
My project/Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
My project/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.pdb
My project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
My project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.Sprite.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.pdb
My project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
My project/Library/ScriptAssemblies/Unity.2D.Path.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.IK.Runtime.pdb
My project/Library/ScriptAssemblies/Unity.2D.IK.Runtime.dll
My project/Library/ScriptAssemblies/Unity.2D.IK.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.IK.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.Common.Runtime.pdb
My project/Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
My project/Library/ScriptAssemblies/Unity.2D.Common.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
My project/Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.pdb
My project/Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
My project/Library/ScriptAssemblies/Unity.2D.Animation.Runtime.pdb
My project/Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
My project/Library/ScriptAssemblies/Unity.2D.Animation.Editor.pdb
My project/Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
My project/Library/ScriptAssemblies/PsdPlugin.pdb
My project/Library/ScriptAssemblies/PsdPlugin.dll
My project/Library/ScriptAssemblies/Assembly-CSharp.pdb
My project/Library/ScriptAssemblies/Assembly-CSharp.dll
My project/Library/SceneVisibilityState.asset
My project/Library/PlayerDataCache/Win64/ScriptsOnlyCache.yaml
My project/Library/PlayerDataCache/Win64/Data/sharedassets1.assets
My project/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
My project/Library/PlayerDataCache/Win64/Data/sharedassets0.assets
My project/Library/PlayerDataCache/Win64/Data/ScriptingAssemblies.json
My project/Library/PlayerDataCache/Win64/Data/RuntimeInitializeOnLoads.json
My project/Library/PlayerDataCache/Win64/Data/Resources/unity_builtin_extra
My project/Library/PlayerDataCache/Win64/Data/resources.assets.resS
My project/Library/PlayerDataCache/Win64/Data/resources.assets
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.XRModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.WindModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.VRModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.VirtualTexturingModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.VideoModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.VFXModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.VehiclesModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityWebRequestModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityTestProtocolModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityCurlModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityConnectModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UnityAnalyticsModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UNETModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UmbraModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UIModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UIElementsNativeModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UIElementsModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UI.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.TLSModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.TilemapModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.TextRenderingModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.TextCoreModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.TerrainPhysicsModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.TerrainModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SubsystemsModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SubstanceModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.StreamingModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SpriteShapeModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SpriteMaskModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.SharedInternalsModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ScreenCaptureModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ProfilerModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.PhysicsModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.Physics2DModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.PerformanceReportingModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ParticleSystemModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.LocalizationModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.JSONSerializeModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.InputModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.InputLegacyModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.IMGUIModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ImageConversionModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.HotReloadModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.GridModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.GIModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.GameCenterModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.DSPGraphModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.DirectorModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.CrashReportingModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.CoreModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ClusterRendererModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ClusterInputModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ClothModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.AudioModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.AssetBundleModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.ARModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.AnimationModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.AndroidJNIModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.AIModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.AccessibilityModule.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.Timeline.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.TextMeshPro.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.Mathematics.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.InternalAPIEngineBridge.001.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.2D.SpriteShape.Runtime.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.2D.PixelPerfect.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.2D.IK.Runtime.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.2D.Common.Runtime.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.2D.Animation.Triangle.Runtime.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Unity.2D.Animation.Runtime.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Xml.XPath.XDocument.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Xml.Linq.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Xml.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Transactions.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.ServiceModel.Internals.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Runtime.Serialization.Xml.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Runtime.Serialization.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Numerics.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Net.Http.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.IO.Compression.FileSystem.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.IO.Compression.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Globalization.Extensions.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.EnterpriseServices.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Drawing.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Diagnostics.StackTrace.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Data.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Core.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.Configuration.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/System.ComponentModel.Composition.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/netstandard.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/mscorlib.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Mono.Security.dll
My project/Library/PlayerDataCache/Win64/Data/Managed/Assembly-CSharp.dll
My project/Library/PlayerDataCache/Win64/Data/level1
My project/Library/PlayerDataCache/Win64/Data/level0
My project/Library/PlayerDataCache/Win64/Data/globalgamemanagers.assets
My project/Library/PlayerDataCache/Win64/Data/globalgamemanagers
My project/Library/PlayerDataCache/Win64/Data/boot.config
My project/Library/PlayerDataCache/Android/ScriptsOnlyCache.yaml
My project/Library/PlayerDataCache/Android/Data/ScriptingAssemblies.json
My project/Library/PlayerDataCache/Android/Data/RuntimeInitializeOnLoads.json
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.XRModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.WindModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.VRModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.VideoModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.VFXModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.VehiclesModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityWebRequestModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityTestProtocolModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityCurlModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityConnectModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UnityAnalyticsModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UNETModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UmbraModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UIModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UIElementsNativeModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UIElementsModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.UI.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.TLSModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.TilemapModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.TextRenderingModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.TextCoreModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.TerrainPhysicsModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.TerrainModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.SubsystemsModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.SubstanceModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.StreamingModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.SpriteShapeModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.SpriteMaskModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.SharedInternalsModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.ScreenCaptureModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.ProfilerModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.PhysicsModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.Physics2DModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.PerformanceReportingModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.ParticleSystemModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.LocalizationModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.JSONSerializeModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.InputModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.InputLegacyModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.IMGUIModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.ImageConversionModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.HotReloadModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.GridModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.GIModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.GameCenterModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.DSPGraphModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.DirectorModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.CrashReportingModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.CoreModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.ClothModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.AudioModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.AssetBundleModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.ARModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.AnimationModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.AndroidJNIModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.AIModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/UnityEngine.AccessibilityModule.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.Timeline.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.TextMeshPro.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.Mathematics.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.InternalAPIEngineBridge.001.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.2D.SpriteShape.Runtime.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.2D.PixelPerfect.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.2D.IK.Runtime.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.2D.Common.Runtime.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.2D.Animation.Triangle.Runtime.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Unity.2D.Animation.Runtime.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Xml.XPath.XDocument.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Xml.Linq.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Xml.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Transactions.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.ServiceModel.Internals.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Runtime.Serialization.Xml.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Runtime.Serialization.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Numerics.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Net.Http.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.IO.Compression.FileSystem.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.IO.Compression.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Globalization.Extensions.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.EnterpriseServices.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Drawing.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Diagnostics.StackTrace.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Data.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Core.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.Configuration.dll
My project/Library/PlayerDataCache/Android/Data/Managed/System.ComponentModel.Composition.dll
My project/Library/PlayerDataCache/Android/Data/Managed/netstandard.dll
My project/Library/PlayerDataCache/Android/Data/Managed/mscorlib.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Mono.Security.dll
My project/Library/PlayerDataCache/Android/Data/Managed/Assembly-CSharp.dll
My project/Library/PlayerDataCache/Android/Data/data.unity3d
My project/Library/PlayerDataCache/Android/Data/boot.config
My project/Library/SourceAssetDB
My project/Logs/shadercompiler-UnityShaderCompiler.exe1.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe10.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe11.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe12.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe13.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe14.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe15.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe2.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe3.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe4.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe5.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe6.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe7.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe8.log
My project/Logs/shadercompiler-UnityShaderCompiler.exe9.log
My project/ProjectSettings/ProjectSettings.asset
My project/Temp/UnityLockfile
